<!doctype html>
<html>
<head>
    ${require('_partials/meta_data.ejs')}
</head>

<body>

  <header>
    ${require('_partials/header.ejs')}
  </header>

  <main>
    <section>
      <h2>Smaller Title</h2>
      <p>Content and copy go here</p>
    </section>
    <section>
      <div>Grid Item</div>
      <div>Grid Item</div>
      <div>Grid Item</div>
      <div>Grid Item</div>
      <div>Grid Item</div>
      <div>Grid Item</div>
    </section>
  </main>

  <footer>
  ${require('_partials/footer.ejs')}
  </footer>

</body>

</html>